<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>GetUserInfo</servlet-name>
        <servlet-class>servletGetSilver.GetUserInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>servletGetSilver.UpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>servletGetSilver.AddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelUser</servlet-name>
        <servlet-class>servletGetSilver.DelUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMessagePredefini</servlet-name>
        <servlet-class>servletGetSilver.GetMessagePredefini</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetListe</servlet-name>
        <servlet-class>servletGetSilver.GetListe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>servletGetSilver.Upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetGsmListe</servlet-name>
        <servlet-class>servletGetSilver.GetGsmListe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddGsmListe</servlet-name>
        <servlet-class>servletGetSilver.AddGsmListe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelGsm</servlet-name>
        <servlet-class>servletGetSilver.DelGsm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateGsm</servlet-name>
        <servlet-class>servletGetSilver.UpdateGsm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCampagne</servlet-name>
        <servlet-class>servletGetSilver.GetCampagne</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadBlacklist</servlet-name>
        <servlet-class>servletGetSilver.UploadBlacklist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadList</servlet-name>
        <servlet-class>servletGetSilver.UploadList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadBlacklistAdmin</servlet-name>
        <servlet-class>servletGetSilver.UploadBlacklistAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMeaasgePredefiniAr</servlet-name>
        <servlet-class>servletGetSilver.GetMeaasgePredefiniAr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMessagePredefiniAr</servlet-name>
        <servlet-class>servletGetSilver.GetMessagePredefiniAr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMessagePredefiniArabe</servlet-name>
        <servlet-class>servletGetSilver.GetMessagePredefiniAr</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetUserInfo</servlet-name>
        <url-pattern>/GetUserInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/UpdateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/AddUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelUser</servlet-name>
        <url-pattern>/DelUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMessagePredefini</servlet-name>
        <url-pattern>/GetMessagePredefini</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetListe</servlet-name>
        <url-pattern>/GetListe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/Upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetGsmListe</servlet-name>
        <url-pattern>/GetGsmListe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddGsmListe</servlet-name>
        <url-pattern>/AddGsmListe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelGsm</servlet-name>
        <url-pattern>/DelGsm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateGsm</servlet-name>
        <url-pattern>/UpdateGsm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCampagne</servlet-name>
        <url-pattern>/GetCampagne</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadBlacklist</servlet-name>
        <url-pattern>/UploadBlacklist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadList</servlet-name>
        <url-pattern>/UploadList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadBlacklistAdmin</servlet-name>
        <url-pattern>/UploadBlacklistAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMeaasgePredefiniAr</servlet-name>
        <url-pattern>/GetMeaasgePredefiniAr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMessagePredefiniAr</servlet-name>
        <url-pattern>/GetMessagePredefiniAr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMessagePredefiniArabe</servlet-name>
        <url-pattern>/GetMessagePredefiniArabe</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            10
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
