/* LAYOUT */
/* ----------------------------------------- */


body {
background-image: url(../images/bg.png);
background-repeat: repeat-x;
background-color: #0a1824;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
background-attachment: fixed;





}


#bg-container {
background-attachment: fixed;
background-image: url(../images/bg.jpg);
background-repeat: no-repeat;
background-position:top;
width: 100%;
float: left !important;
display:inline;
}






#container {
        float:left;
width: 969px;
}


#logo {
float: left;
height: 32px;
width: 0px;
margin-top: 39px;
}
#logo1 {
	/*float: right top;*/
	height: 32px;
	width:  130px;
	position:absolute;
	top: 40px;
	margin-left: 700px;
}


#navigation {
float:right;
height: 13px;
margin-left: 10%;
margin-right: 0%;
margin-top:10px;
}


.nav-links li {
float:right;
height: 33px;
width: 89px;


background-repeat: no-repeat;
background-position: top;
}


.nav-links li a {
float:right;
height: 26px;
width: 89px;
text-decoration: none;
color: #FFFFFF;
font-size: 14px;
display: block;
text-align: center;
padding-top: 7px;
}


li#current, .nav-links li a:hover {


background-repeat: no-repeat;
color: #FF8830;
background-position: bottom;
}


li#current a {
color: #2a4458;
}


#page-top, #page-bottom {
float: right;
height: 17px;
width: 733px;
        margin-right: 18px;
}




#page-middle {
        float:right;
width: 733px;
background-image: url(../images/page_middle.png);
background-repeat: repeat-y;
padding-right: 9px;
padding-left: 9px;



}


#page-content {
float: right;
width: 732px;
background-image: url(../images/content_bg.png);
background-repeat: repeat-x;
background-color: #FFFFFF;
padding-bottom: 16px;
padding-top: 10px;




}


#page-title {
float: right;
width: 733px;
background-image: url(../images/title_divider.png);
background-repeat: repeat-x;
background-position: center;
margin-bottom: 20px;
}


#featured {
margin-left: 75px;
width: 599px;
height: 235px;
background-image: url(../images/featured_bg.png);
background-repeat: no-repeat;
padding-top: 10px;
}








#content {


width: 270px;
color: #707070;
line-height: 24px;
text-align: justify;
padding-top: 10px;
float:right;
}


p.welcome-text {
color: #707070;
font-size: 15px;
letter-spacing: -1px;
text-align:center ;
margin-bottom: 10px;
}


span.blue-text {
color: #3e6687;
font-weight: bold;
}


li.none {
background-image: none;
}


#footer {
float: right;
width: 730px;
margin-top: 0px;
color: #7eafd3;
padding-right: 12px;
padding-left: 12px;
padding-bottom: 12px;
}


p.left {
float: left;
}


p.right {
float: right;
}


#footer a {
color: #FFFFFF;
text-decoration: none;
}


#footer a:hover {
color: #6DAFB9;
text-decoration: none;
}


.a-post {
float: left;
width: 174px;
margin-right: 12px;
margin-left: 12px;
margin-bottom: 20px;
}


.post-title {
margin-bottom: 5px;
}


.post-image {
background-image: url(../images/post_bg.png);
background-repeat: no-repeat;
float:right;
height: 174px;
width: 174px;
margin-bottom: 10px;
}


.image {
height: 154px;
width: 154px;
float: left;
margin-top: 10px;
margin-left: 10px;
}


.post-buttons {
height: 27px;
width: 174px;
float:right;
}


.buttons-small li {
float:right;
height: 27px;
width: 85px;
font-size: 10px;
color: #FFFFFF;
background-image: url(../images/button2.png);
background-repeat: no-repeat;
background-position: top;
text-align: center;
margin-right: 2px;
display: block;
}


.buttons-small li a {
display: block;
height: 27px;
width: 85px;
color: #FFFFFF;
text-decoration: none;
}


.buttons-small li:hover {
background-position: bottom;
}






#form {
width: 585px;
font-size: 12px;
padding-right: 10px;
}








.text-field {
background-color: #E8E8E8;
padding: 6px;
border: 1px solid #CCCCCC;
font-size: 12px;
color: #333333;
margin-top: 5px;
margin-bottom: 5px;
width: 300px;
display: block;
margin-right: auto;
margin-left: auto;
}


.submit-btn {
background-color: #E8E8E8;
color: #333333;
font-size: 16px;
border: 1px solid #CCCCCC;
cursor: pointer;
margin-top: 10px;
padding: 2px;
display: block;
margin-right: auto;
margin-left: auto;
height: 30px;
width: 100px;
}










/* These rather presentational classes are generated by WordPress, so it's useful to have some styles for them. Edit as you see fit. More info: http://codex.wordpress.org/CSS */
.aligncenter { display:block; margin:0 auto }
.alignleft { float:left }
.alignright { float:right }
.wp-caption { border:1px solid #666; text-align:center; background:#ccc; padding:10px; margin:10px }


/* You might find the following useful */
/* div, ul, li { position:relative } This will save you having to declare each div / ul / li's position as 'relative' and allows you to absolutely position elements inside them */
br.clear { clear:both; display:block; height:1px; margin:-1px 0 0 0 } /* Use this br class to clear your floated columns */
li#theme-switcher { background:#fff; border:10px solid red; padding:20px; position:fixed; top:0; right:0 } /* Use this if you have the Theme Switcher Reloaded plugin (http://themebot.com/webmaster-tools/1-wordpress-theme-switcher-reloaded) installed and want to make it nice and obvious */